<!DOCTYPE html>
<html lang="es-PE">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/materialize.min.css">
</head>
<body>
  <!-- Navbar -->
  {{template "navbar"}}

  <!-- Products Section -->
  <section class="section">
    <div class="container">
      <h2>Productos</h2>
      <a href="/register" class="indigo darken-4 waves-effect waves-light btn">Crear una cuenta</a>
      <div class="row">
        <div class="col s12 input-field">
          <i class="material-icons prefix">search</i>
          <input id="search" name="search" type="text" class="validate">
          <label for="search">Nombre del Producto</label>
        </div>
        <div class="col s12">
          <table class="responsive-table striped highlight">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Categoría</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody id="productsBody">
              {{range .Products}}
              <tr>
                <th scope="row">{{.ID}}</th>
                <td>{{.Category.Description}}</td>
                <td>{{.Name}}</td>
                <td>{{.Price}}</td>
                <td>{{.Quantity}}</td>
                <td>{{.Amount}}</td>
              </tr>
              {{end}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
  
  <script src="/assets/js/materialize.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/assets/js/index.js"></script>
</body>
</html>