{{define "navbar"}}
<div class="navbar-fixed">
  <ul id="social-dropdown" class="dropdown-content">
    <li><a href="#!">GitLab</a></li>
    <li><a href="#!">Email</a></li>
    <li class="divider"></li>
    <li><a href="#!">Twitter</a></li>
  </ul>
  <nav class="teal lighten-1">
    <div class="container">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">GoWebApp</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          <li><a href="#">About</a></li>
          <li>
            <a class="dropdown-trigger" href="#!" data-target="social-dropdown">
              Contact<i class="material-icons right">arrow_drop_down</i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
{{end}}

{{define "navbarLogin"}}
<div class="navbar-fixed">
  <ul id="social-dropdown" class="dropdown-content">
    <li><a href="#!">GitLab</a></li>
    <li><a href="#!">Email</a></li>
    <li class="divider"></li>
    <li><a href="#!">Twitter</a></li>
  </ul>
  <nav class="teal lighten-1">
    <div class="container">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">GoWebApp</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          <li><a href="#">About</a></li>
          <li>
            <a class="dropdown-trigger" href="#!" data-target="social-dropdown">
              Contact<i class="material-icons right">arrow_drop_down</i>
            </a>
          </li>
          <li>
            <a href="#" class="indigo darken-4 waves-effect waves-light btn">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
{{end}}

{{define "categories"}}
<section class="section">
  <div class="container">
    <h2>Categorias</h2>
    <div class="row">
      <div class="col s12">
        <table class="responsive-table striped highlight">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Descripción</th>
            </tr>
          </thead>
          <tbody>
            {{range .Categories}}
            <tr>
              <th scope="row">{{.ID}}</th>
              <td>{{.Description}}</td>
            </tr>
            {{end}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
{{end}}