<!DOCTYPE html>
<html lang="es-PE">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Registro</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/materialize.min.css">
</head>

<body>
  <!-- Navbar -->
  {{template "navbarLogin"}}

  <!-- Products Section -->
  <section class="section">
    <div class="container">
      <h3 class="center">Registro</h3>
      <div class="row">
        <form action="/register" method="POST" class="col l6 m8 s12 offset-m4 offset-l3">
          <div class="row">
            <div class="input-field col s12 m6">
              <input id="firstName" name="firstName" type="text" class="validate">
              <label for="firstName">Nombres</label>
            </div>
            <div class="input-field col s12 m6">
              <input id="lastName" name="lastName" type="text" class="validate">
              <label for="lastName">Apellidos</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="email" name="email" type="email" class="validate">
              <label for="email">Correo Electrónico</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="password" name="password" type="password" class="validate">
              <label for="password">Password</label>
            </div>
          </div>
          <button class="indigo darken-4 waves-effect waves-light btn">Registrar</button>
        </form>
      </div>
    </div>
  </section>

  <script src="/assets/js/materialize.min.js"></script>
  {{if .Message}}
  {{ .Message }}
  {{end}}
</body>

</html>